{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span>
            <img width="13" height="28" alt="Memory Usage" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAcCAYAAACH81QkAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOZJREFUeNpi/P//PwOlgImBCmDUEEzAYmJigk18AhAnADE/kthHIF4AxAXEuASkOR/NAAYoHyTugOESqK0GSGIGBFwPcs0DJP4BRmNj4/+0DNiJQOwIxIxQeiOphiQiBeIBKA3ChVhjB4vYRqjGC2iBCwpQBSAOAGJ7Qi7ZgCV6YbGTALWAoHceQG3EBgTQYganIQ7YbINFJ7YkgM2QAqiXFmKJrQdQLxEMWH6ojQHQhAjywgek8OInxhAQ0IfGzgWogQ7oMYJuyEdspkPF7PFphoKHLNCAUqAg1T9gHC2oh7shAAEGAFcVLJ5UOxWlAAAAAElFTkSuQmCC"/>
            <span>{{ collector.count }} Images</span>
        </span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>All Images</b>
            <span>{{ collector.count }}</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': false } %}
{% endblock %}