body { 
	background: url(/img/bg-login.jpg) no-repeat right center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
    margin-top: 80px;
}

footer {
    margin-bottom: 80px;
}

.thumbnails a {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.panel {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    padding: 9px;
}

.panel.login {
    margin: 150px auto 0;
    padding: 20px;
    position: relative;
    width: 370px;    
}

.panel.login form {
    margin: 20px 0 0;
}

.panel.login h1 {
    color: #fff;
    font-family: 'Italianno';
    font-size: 60px;
    position: absolute;
    left: 20px;
    top: -46px;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}

.thumbnails .row {
    margin-bottom: 20px;
}