body { 
	background: url(/img/bg-login.jpg) no-repeat right center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
    margin-top: 80px;
}

footer {
    margin-bottom: 80px;
}

.thumbnails a {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

.panel {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    padding: 9px;
}

.panel.login {
    margin: 150px auto 0;
    padding: 20px;
    position: relative;
    width: 370px;    
}

.panel.login form {
    margin: 20px 0 0;
}

.panel.login h1 {
    color: #fff;
    font-family: 'Italianno';
    font-size: 60px;
    position: absolute;
    left: 20px;
    top: -46px;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}

.thumbnails .row {
    margin-bottom: 20px;
}

.event-overview .event h2 {
    text-align: center;
}
.event-overview .event h2 a {
    color: #333;
}
.event-overview .thumbnails {
    position: relative;
    width: 210px;
    margin: 0 auto;
}
.thumbnail {
    height: 210px;
}
.event-overview .thumbnail {
    position: absolute;
    top: 0;
    left 0;
    background: #fff;
}
.event-overview .thumbnail a {
    display: block;
}
.event-overview .thumbnail img {
    max-width: none;
    width: 210px;
    display: block;
}
.event-overview .thumbnail + .thumbnail {
    top: 4px;
    left:  4px;
}
.event-overview .thumbnail + .thumbnail + .thumbnail {
    top: 8px;
    left:  8px;
}
.event-overview .thumbnail + .thumbnail + .thumbnail + .thumbnail {
    top: 12px;
    left:  12px;
}
.event-overview .thumbnail + .thumbnail + .thumbnail + .thumbnail + .thumbnail {
    top: 16px;
    left:  16px;
}

.event-overview .event:hover .thumbnail {
    top: 70px;
    left: -340px;
    transform: rotate(-20deg);        
    -o-transform: rotate(-20deg);        
    -ms-transform: rotate(-20deg);    
    -moz-transform: rotate(-20deg);    
    -webkit-transform: rotate(-20deg);
    z-index: 1000;
}
.event-overview .event:hover .thumbnail + .thumbnail {
    top: 20px;
    left:  -170px;
    transform: rotate(-10deg);        
    -o-transform: rotate(-10deg);        
    -ms-transform: rotate(-10deg);    
    -moz-transform: rotate(-10deg);    
    -webkit-transform: rotate(-10deg);
}
.event-overview .event:hover .thumbnail + .thumbnail + .thumbnail {
    top: 8px;
    left:  8px;
    transform: rotate(0deg);        
    -o-transform: rotate(0deg);        
    -ms-transform: rotate(0deg);    
    -moz-transform: rotate(0deg);    
    -webkit-transform: rotate(0deg);
}
.event-overview .event:hover .thumbnail + .thumbnail + .thumbnail + .thumbnail {
    top: 20px;
    left:  170px;
    transform: rotate(10deg);        
    -o-transform: rotate(10deg);        
    -ms-transform: rotate(10deg);    
    -moz-transform: rotate(10deg);    
    -webkit-transform: rotate(10deg);
}
.event-overview .event:hover .thumbnail + .thumbnail + .thumbnail + .thumbnail + .thumbnail {
    top: 70px;
    left:  340px;
    transform: rotate(20deg);        
    -o-transform: rotate(20deg);        
    -ms-transform: rotate(20deg);    
    -moz-transform: rotate(20deg);    
    -webkit-transform: rotate(20deg);
}