{% extends 'GalleryBundle::layout.html.twig' %}

{% block navbar %}{% endblock %}
{% block content %}
    <div class="panel login">
    
        <h1>Login</h1>
        
        <p>
            Um unsere Bilder zu betrachten musst du das <em>Passwort</em> eingeben. Du findest es auf der <em>Rückseite der Danksagung</em>. Du kannst uns aber auch einfach persönlich danach fragen.
        </p>
    
        {% if error %}
            <div class="error">{{ error.message }}</div>
        {% endif %}
    
        <form action="{{ path("_security_check") }}" method="post" id="login" class="form-inline">
            <input type="hidden" name="_username" value="user" />
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" />
            <input type="submit" class="btn btn-primary" value="LOGIN" />
        </form>
    </div>
{% endblock %}
